streamlit>=1.32
pandas>=2.0
numpy>=1.26
requests>=2.31
spotipy>=2.23
python-dotenv>=1.0
plotly>=5.20
streamlit-plotly-events>=0.0.6
streamlit-echarts>=0.4.0
rapidfuzz>=3.0
Pillow>=9.5
streamlit-local-storage
# tmdbsimple>=2.9         # opcional (só se o teu providers.tmdb usar)
pyecharts>=1.9.1
Unidecode>=1.3
beautifulsoup4>=4.12   # se fores mesmo parsear HTML/infoboxes da Wikipédia
lxml>=5.0              # parser rápido para o bs4 (opcional)
m3u8>=4.0              # caso passes a suportar HLS .m3u8 no player (parse cliente)
validators>=0.22       # validar URLs antes de tocar
